/*Proj01 : Hiper Carros #2*/
/*FOLHA DE ESTILOS*/
/*superclasses*/
/*subclasses*/
.seta{
    width:20px;
    color:#dddddd;
    font-size: 32px;
}

.etiq1 {
    font: bold 14px Verdana;
    background-color: #aaaaff;
    color: #404040;
    width: 280px;
    padding: 2px 5px 2px 5px;
}

.valor {
    font: bold 14px Verdana;
    background-color: #ffa080;
    width: 140px;
    padding: 2px;
}

/*instâncias*/
#apres {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
}

#carros {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: visible;
    width: 970px;
}

#figs {
    line-height: 0px
}

#titulo {
    font: 27px arial;
}

#refCarro {
    font: bold 24px arial narrow;
}

#txt1, #txt2, #txt3, #txt4 {
    width: 450px;
    padding: 10px;
    vertical-align: top;
    font: 13px/1.4 verdana;
}



