/*PRJ05: EXPRESSIONISMO ABSTRATO/
/*FOLHA DE ESTILOS*/
/*superclasses*/
/*subclasses*/
/*instâncias*/
h1 {
    font: bold 35px arial;
    color: #000000;
    margin: 25px 0px 5px 30px;
}

h2 {
    font: bold 25px arial;
    color: #804000;
    margin: 5px 0px 25px 30px;
}

h3 {
    font: bold 21px arial;
    color: #000000;
    margin: 15px 0px 15px 20px;
}

img {
    border: 1px solid #ffffff;
}

/*subclasses*/
.bio {
    font: 13px/1.3 Verdana;
    color: #ffffff;
    margin: 5px 15px 0px 20px;
    text-align: left;
}

.etiq3 {
    font: bold 12px/1.3 Verdana;
    color: #ffffff;
    margin: 5px 5px 20px 5px;
    text-align: center;
}

.intro {
    font: 17px/1.4 arial;
    text-align: left;
    margin: 0px 30px 15px 30px;
}

.pintor {
    font: 15px/1.4 Verdana;
    text-align: left;
    margin: 0px 15px 15px 15px;
}

.etiq1 {
    font: bold 17px arial;
    color: #ffffff;
    margin: 5px;
    display: inline-block;
}

.etiq2 {
    font: 22px arial;
    color: #ff8000;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}
.etiq2:hover{
    color: #ffffff;
}

/*instancias*/
#introd, #pintor, #obra {
    margin: 0px auto 0px auto;
}

#introd {
    width: 900px;
    height: 600px;
    border: 1px solid #000000;
    overflow-y: scroll;
}

#nPint {
    width: 25px;
    text-align: center;
}

#pintor {
    width: 900px;
    height: 600px;
}

#ctrl {
    width: 900px;
    background-color: #804000;
}

#bio {
    width: 180px;
    height: 600px;
    background-color: #804000;
    float: left;
    text-align: center;
}

#txtPintor {
    width: 530px;
    height: 600px;
    float: left;
    overflow-y: scroll;
}

#obras {
    width: 190px;
    height: 600px;
    background-color: #804000;
    float: left;
    text-align: center;
    overflow-y: scroll;
}

#obra {
    width: 700px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
}

