/*PRJ06: Sete Series*/
/*FOLHA DE ESTILOS*/
/*superclasses*/
/*subclasses*/
.bannerSerie {
    width: 452px;
}

.imgLink {
    width: 113px;
}

.sinopse {
    font: 14px/1.4 Verdana;
    text-align: left;
    margin: 15px 10px 0px 25px;
}

.bot1 {
    width: 97px;
}

.titulo1 {
    text-align: right;
    font: bold 14px Arial;
    color: #fff;
    background-color: #008070;
    padding: 5px 0px;
}

.detalhes1 {
    text-align: right;
    font: 14px Arial;
    color: #000;
    background-color: #b0f0e0;
    padding: 5px 0px;
}

/*instâncias*/
#base {
    margin: 0px auto;
    width: 950px;
}

#esq {
    float: left;
    width: 198px;
}

#centro {
    float: left;
    width: 452px;
}

#dir {
    float: left;
    width: 300px;
}

#tituloApr {
    text-align: center;
    font: bold 21px Arial;
    color: #fff;
    background-color: #008070;
    padding: 19px 0 16px 0px;
    margin-bottom: 4px;
}
#listaSeries{
    width: 198px;
}




