/*Proj03 : HIPERCARROS #3*/
/*FOLHA DE ESTILOS*/
/*superclasses*/
/*subclasses*/
.seta{
  width: 20px; color:#cccccc; font-size:32px; cursor:pointer;
}
.seta:hover{
  background-color:#cccccc; color:#ff8000;
}
.etiq1{
  font:bold 16px arial; background-color:#aaaaff; color:#404040; width:300px; padding:2px 0px 2px 5px;
}
.valor{
  font:bold 16px verdana; background-color:#ffa080; width:140px; padding:2px 0px 2px 5px;
}
/*instâncias*/
#apres{
  position:absolute; left:0px; top:0px; visibility:visible;
}

#carros{
  position:absolute; left:0px; top:0px; visibility:hidden; width:970px;
}

#figAmpl{
  position:absolute; left:0px; top:0px; visibility:hidden; width:690px; border:1px solid #000000; padding:10px ;background-color:#ffffff; cursor:pointer; font:15px arial;
}

#figs{
  line-height:0px; cursor:pointer;
}

#titulo{
  font: 27px arial;
}

#refCarro{
  font: bold 24px arial narrow;
}

#txt1,#txt2,#txt3,#txt4{
  width: 450px;padding: 10px;vertical-align: top;font: 13px/1.4 verdana;
}
